// @font-face {
//     font-family: 'CustomFont';
//     src: url('/fonts/IBMPlexSansKR-Regular.ttf') format('woff2'),
//         //  url('/fonts/font-file.woff') format('woff');
//   }

.slogan-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slogan-container img {
    max-width: 100%;
    height: 150px;
    width: 100%;
  }
  
  .slogan-container h2 {
    position: absolute;
    top: 25%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 4px 4px hsl(60, 100%, 58%);
    z-index: 1;

    span{
    color: rgb(2, 97, 2);
    }
  }
  
  .job-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .job-card {
    text-decoration : none;
    background-color: rgb(172, 255, 157);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    
    h4{
        margin: 0;
        color: rgb(70, 70, 224);
    }
    h3 {
    //    font-style: italic;
        margin-bottom: 10px;
        color: black;
      }
    p {
        margin: 0;
        color: rgb(73, 73, 73);
    }

    span {
        color: blue;
    }
    }
  
  .job-card:hover {
    background-color: rgb(178, 237, 90);
  }

 
  