.slogan-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .slogan-container img {
    max-width: 100%;
    height: 150px;
    width: 100%;
  }
  
  .slogan-container h2 {
    position: absolute;
    top: 25%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 4px 4px hsl(60, 100%, 58%);
    z-index: 1;

    span{
    color: rgb(2, 97, 2);
    }
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: rgb(104, 7, 7);
  }
  
  .job-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .job-card {
    background-color: #9c5555;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .job-card:hover {
    background-color: #793131;
  }
  
  .job-card h3 {
    margin-bottom: 10px;
  }
  
  .job-card p {
    margin: 0;
  }
  
  
  
//   .slogan-text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: rgb(252, 96, 5);
//     font-size: 24px;
//   }
  