.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.199);
  }
  
  .login-container h2 {
    font-size: 30px;
    text-align: center;
    color: orange;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {    
    font-size: 17px;
    padding: 15px 20px;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container p {
    font-size: 20px;

    text-align: center;
    margin-top: 20px;
  }
  
  .login-container p a {
    color: orange;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
  }
  